<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wotin.geniustest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Test.TestQuicknessActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".Activity.Test.TestConcentractionActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".Activity.Test.TestActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".Activity.UserManagement.UserInformationActivity"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".Activity.Practice.PracticeQuicknessActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".Activity.Practice.PracticeConcentractionActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".Activity.UserManagement.DeleteUserActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".Activity.LoginAndSignUp.SignUpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".Activity.LoginAndSignUp.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".Activity.GeniusTestActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".Activity.Practice.PracticeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".Activity.IntroActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.MemoryTestHeartManagementService"
            android:enabled="true"
            android:exported="true"
            />
        <service android:name=".Service.ConcentractionTestHeartManagementService"
            android:enabled="true"
            android:exported="true"
            />
        <service android:name=".Service.QuicknessTestHeartManagementService"
            android:enabled="true"
            android:exported="true"
            />
        <service android:name=".Service.RebootTestHeartManagementService"/>

        <receiver android:name=".Receiver.TestHeartManagementReceiver"/>
        <receiver android:name=".Receiver.RebootReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>